@import "../../../../../themes/pwd/asset/sass/mixins";
@import "../../../../../themes/pwd/asset/sass/variables";
@import "../../../../../themes/pwd/asset/sass/base";
@import "../shared";
@import "../layout";
@import "../mobile";
@import "../../../../../themes/pwd/asset/sass/layout";

body {
    background-image: url('../../../../../themes/pwd/asset/img/bg.jpg');
}


button:disabled, 
button.inactive, 
.button:disabled, 
.button.inactive, 
input[type="submit"]:disabled, 
input[type="submit"].inactive {
    border-top-width: 3px;
}

button,
.button,
input[type="submit"] {
    border-radius: 0 !important;
    font-size: $base-font-size;
}

.site-header {
    border: 0;
}

.site-title {
    font-size: 1.625 * $base-font-size;
    font-weight: 400;

    &:before,
    &:after {
        width: 0;
        margin: 0;
    }

    &:visited {
        color: #000;
    }
}

.project-nav.wrapper {
    padding: (.5 * $spacing-unit) $spacing-unit;
    border-top: 0;
    border-bottom: 1px solid $grey-color;

     & > * {
        padding: 0;
     }
}

.project-nav h2 {
    font-size: $base-font-size;
}

#scripto-search {
    padding: (.5 * $spacing-unit) $spacing-unit;
    border-top: 0;
    border-bottom: 1px solid $grey-color;
}

.post-title {
    font-size: 2 * $base-font-size;
}

.post-content .resource-tile h4 {
    font-size: 1.125 * $base-font-size;
}

.resource-tile > div {
    font-size: $base-font-size;
}

.media-tabs > .inactive {
    font-weight: normal;
}

.status-field {
    margin-top: 0;
}

.panzoom-container {
    background-color: #fff;
}

#compare-table td {
    border-bottom: 1px solid #000;
}

#compare-table [colspan="2"]:first-child, 
#compare-table td.diff-context:nth-child(2) {
    border-right: 1px solid #000;
}

#compare-table .diff-deletedline {
    background-color: #fccfcc66;

    div:before {
        background-color: transparent;
    }
}

#compare-table .diff-addedline {
    background-color: #cdffcd66;

    div:before {
        background-color: transparent;
    }
}